<!DOCTYPE html>
<html lang="kr">
  <head>
    <title>CCTV Service</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
        <%- include("./partials/adminHeader.ejs") %>
            <form id="DelUser" action="/DelUser" method="POST">            
                <table id="user-list" border="0">
                <thead>
                    <tr>
                        <th> 선택 </th>
                        <th> 사번 </th>
                        <th> 이름 </th>
                        <th> 부서 </th> 
                        <th> 직책 </th>
                        <th> 번호 </th>
                        <th>생년월일</th>
                        <th> 주소 </th> 
                    </tr>
                </thead>
                <tbody>
                    <%  for(let i = 0; i < users.length; i++) {
                        var id=users[i].idusers %>
                        <tr> 
                            <td><input type="checkbox" value="<%= id %>" name="id"></td>
                            <td><%= users[i].idusers %></td>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].Dept %></td>
                            <td><%= users[i].ranking %></td>
                            <td><%= users[i].tele %></td>
                            <td><%= users[i].birth %></td>
                            <td><%= users[i].addr %></td>    

                        </tr>
                        <% } %>             
                </tbody>             
            </table>
            <br>
            <input class="btnJoin" id="delBtn" type="submit" value="삭제"></input>
            <br>
            <br>
            <br>
          
            <input class="btnJoin" id="resetBtn" type="reset" value="초기화"></input>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            </form>

        <%- include("./partials/footer.ejs") %> 
    </body>
</html>